//foto bio
.fotoBio {
  margin: 0;
  padding: 60px 0px 0px 0px;
  width: 100%;
  object-fit: contain;
}

//tipografia Bio
.tipoBio{
    font-family: $font-principal;
    .text-center{
      padding: 40px 50px 100px 50px;
      margin: 10px;
    }
    }
  